@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), 
    url('../IMG/background_Img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    height: 80px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
}

header a img {
    margin-top: 10px;
    margin-left: 20px; 
    width: 8em;
}

.nav ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-size: larger;
}

.nav ul li::after {
    content: '';
    border-radius: 25px;
    height: 4px;
    width: 0;
    background: linear-gradient(to right, #83a4d4, #b6fbff); 
    position: absolute;
    left: 0;
    bottom: -10px;
    transition-duration: 0.5s;
}

.nav ul li:hover::after {
    width: 100%;
}

#title {
  height: 60vh;
  text-align: center;
  color: white;
  margin-top: 30vh;
  margin-bottom: 30vh;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
}

#title h1 {
  font-size: 6em;
}

#title p {
  font-size: 4em;
}

.infoContent {
  background: white;
  padding: 4vh;
}

.infoContent p {
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
  font-weight: lighter;
}

.infoContent h2 , h3 {
  font-family: 'Kanit', sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 3em;
  padding: 8px;
}

.infoContent h4 {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  font-size: 1.5em
}

.infoContent ul {
  padding: 2vh;
}

.infoContent ul li {
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
  font-weight: lighter;
  list-style-type: none;
}

.infoContent h4 em b {
  text-decoration: underline;
  font-size: 0.8em;
}

.infoImg1 {
  background-image: url('https://files.merca20.com/uploads/2023/02/A7R07022.jpg');
  background-repeat: no-repeat;
  background-size: cover ;
  background-attachment: fixed;
  height: 60vh;
}

.infoImg2 {
  background-image: url('https://i.promecal.es/IMG/2013/18D33B63-D2D9-D9AB-32488FA5085D6B12.JPG');
  background-repeat: no-repeat;
  background-size: cover ;
  background-attachment: fixed;
  height: 60vh;
}

.infoImg3 {
  background-image: url('https://elbuscolu.com/uploads/segadorinos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 80vh;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 3vh;
    padding-bottom: 3vh;
    align-items: center;
    color: white;
    font-family: sans-serif;
    background: black ;
}